<!-- <p>
The founder and creator of dbARMOR was a member of an A-Team with United States Army Special Forces as a communications specialist.
During this period of time he learned how to encrypt data using a system that has been proven to be crackproof,
even with Super Computers hacking away!
</p>
<p>It is difficult to see but the beret is a green one. The "flash" on the beret is for the 5th Special Forces Group, Vietnam.</p>
<p>Assigned to A-301, Trang Sup, about 10 miles northwest of Tay Ninh, Vietnam.</p>
<br> -->

<div>"De Oppresso Liber" - "To free the oppressed" - United States Army Special Forces Motto</div>
<div class="ui-g-12 ui-sm-12" style="text-align:center">
    <img src="http://res.cloudinary.com/dbarmor-net/image/upload/v1526773527/zvtl73g7v9k20ganldxd.jpg" width="500">
</div>
<div>
<div class="ui-g-12 ui-sm-12" style="text-align:center">
    <img src="http://res.cloudinary.com/dbarmor-net/image/upload/v1527537392/ep42ya6cinyr6bluucwf.jpg" width="500">
</div>
<p>CIDG in country training, Vietnam 1967.</p>
</div>
<div class="ui-g-12 ui-sm-12" style="text-align:center">
    <img src="http://res.cloudinary.com/dbarmor-net/image/upload/v1527537391/e3y9hprvq9ygjtcfdec8.jpg" width="500">
</div>
<!-- <div class="ui-g-6 ui-sm-12" style="text-align:center">
    <img src="http://res.cloudinary.com/dbarmor-net/image/upload/v1526773412/lurmuvui8ishy9dxuibb.jpg" width="500">
</div>
<div class="ui-g-6 ui-sm-12" style="text-align:center">
    <img src="http://res.cloudinary.com/dbarmor-net/image/upload/v1527537391/e3y9hprvq9ygjtcfdec8.jpg" width="500">
</div> -->
<div>
<div class="ui-g-12 ui-sm-12" style="text-align:center">
    <img src="http://res.cloudinary.com/dbarmor-net/image/upload/v1527537390/mb8iqowckbixosotxgld.jpg" width="500">
</div>
</div>
<br>
<div> <p>Water skiing, Christmas day 1967, Cam Rahn Bay, Vietnam.</p></div>


