<div class="ui-g-12 ui-md-7 ui-lg-5 ui-fluid ui-g-nopad contact-form">
  <p-panel header="Contact">
    <div class="ui-g ui-g-nopad">
      <!-- <div class="ui-g-12">
              <p-dropdown [options]="cities" [autoWidth]="false" [(ngModel)]="selectedCity"></p-dropdown>
          </div> -->

      <!-- <div class="ui-g-12 ui-md-4">
            <label for="lname">Login name:</label>
        </div>
        <div class="ui-g-12 ui-md-7">
            <input id="lname" pInputText type="text"/>
        </div> -->

        <div  class="ui-md-6">
        <span class="md-inputfield">
          <input id="firstname" type="text" pInputText />
          <label for="firstname">First name</label>
        </span>
      </div>
      <div  class="ui-md-5">
        <span class="md-inputfield">
          <input id="lastname" type="text" pInputText />
          <label for="lastname">Last name</label>
        </span>
        </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input id="emailaddr" type="text" pInputText />
          <label for="emailaddr">ARMORED - Email ID </label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input id="email" type="text" pInputText />
          <label for="email">Regular (unsecured) Email Addr </label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input id="loginname" type="text" pInputText />
          <label for="loginname">Occupation</label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input id="loginname" type="text" pInputText />
          <label for="loginname">Relationship</label>
        </span>
      </div>
      <div class="ui-md-6">
        <span class="md-inputfield">
          <input id="loginname" type="text" pInputText />
          <label for="loginname">Mobile phone number</label>
        </span>
      </div>
      <div class="ui-md-5">
        <span class="md-inputfield">
          <input id="loginname" type="text" pInputText />
          <label for="loginname">Phone number</label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input id="loginname" type="text" pInputText />
          <label for="loginname">Address</label>
        </span>
      </div>
      <div class="ui-md-6">
        <span class="md-inputfield">
          <input id="age" type="text" pInputText />
          <label for="age">City</label>
        </span>
      </div>
      <div class="ui-md-5">
        <span class="md-inputfield">
          <input id="country" type="text" pInputText />
          <label for="country">State</label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input id="loginname" type="text" pInputText />
          <label for="loginname">Country</label>
        </span>
      </div>
    </div>
    <button class="save-btn" type="button" style="margin-top:20px" label="Submit" pButton></button>
  </p-panel>
</div>
