<div class="ui-g">
  <div class="ui-container ui-md-6 ui-sm-12 ui-fluid">
    <p-panel class="ui-md-12 ui-g-nopad">
      <p-header>
        <span>Secure Document Editor</span>
      </p-header>
      <br>
      <span class="ui-float-label ui-md-6">
        <!-- <input id="float-input" type="text" pInputText required [(ngModel)]='contentType'> -->

        <p-dropdown [options]="docType" [autofocus]="true" [disabled]=!isMsgText [(ngModel)]='contentType'></p-dropdown>
        <label for="float-input">Document Type:</label>
        <!-- <div [hidden]="to.valid || to.pristine" class="alert alert-danger">
      Invalid email address
  </div> -->
      </span>
      <br>
      <span class="ui-float-label">
        <input id="float-input2" type="text" pInputText [disabled]=!isMsgText [(ngModel)]='desc'>
        <label for="float-input2">Description:</label>
        <!-- <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
      A subject is required.
  </div>  -->
      </span>
      <br>
      <div id="fred" [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
      <p-footer>
          <p-splitButton styleClass="ui-button-success" label="Encrypt" [hidden]="!isMsgText" (onClick)="doEncrypt()" [model]="items"></p-splitButton>
          <p-splitButton styleClass="ui-button-primary" label="Decrypt" [hidden]="isMsgText" (onClick)="doDecrypt()" [model]="items"></p-splitButton>
          <div  class="ui-md-12 ui-sm-12 ui-g ui-fluid ui-g-nopad">
              <div class='ui-md-6 ui-g-nopad'>
              <p-splitButton styleClass="ui-button-primary" label="Add New" (onClick)="addNew()" [model]="items"></p-splitButton>
              </div>
              <div class='ui-md-6 ui-g-nopad'>
              <p-splitButton styleClass="ui-button-danger" label="Delete"  (onClick)="deleteDocument()" [model]="items"></p-splitButton>
              </div>
          </div>
      </p-footer>
    </p-panel>
  </div>
<div class="document-table ui-md-6 ui-sm-12 ui-g ui-fluid">
  <p-dataTable [value]="docs" selectionMode="single" [(selection)]="rowsSelected" [resizableColumns]="true" [reorderableColumns]="true"
     [responsive]="true" (onRowSelect)="onRowSelected($event)" [rows]="20" [paginator]="true">
    <p-column field="contentType" header="Type" [style]="{'width':'140px'}" [sortable]="true" ></p-column>
    <p-column field="desc" [style]="{'width':'380px'}" header="Description" [sortable]="true" ></p-column>
    <!-- <p-column field="content" [style]="{'width':'200px'}" header="Text" [editable]="true"></p-column> -->
  </p-dataTable>
</div>
</div>
<p-dialog header="NOTICE: MESSAGE ID REQUIRED" [(visible)]="dialogVisible" onClose="diaClose()" [closable]=false modal="modal"
    showEffect="fade" width="400">
<div class="ui-g-12">
<p>Are your sure you want to delete this document?.</p>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" pButton icon="fa-check" (click)="btnDelete()" label="Yes - Delete Contact"></button>
    <button type="button" pButton icon="fa-check" (click)="btnCancel()" label="No - Cancel"></button>
  </div>
</p-footer>
</p-dialog>
