<div>
<form class="fmcontainer"  [formGroup]="loginForm">
  <div class="md-inputfield">
    <input type="text" pInputText formControlName="userLoginName">
    <label>Your username</label>
  </div>
  <div class="md-inputfield">
    <input type="password" [feedback]="false" pPassword formControlName="pwd">
    <label>Your password</label>
  </div>
  <div class="login-btn">
    <button pButton type="button" label="Login" (click)="login()"></button>
    <!-- <button pButton type="button" label="Register FREE"></button> -->
  </div>
</form>
</div>