.fmcontainer {
    display: grid;
    //grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: 1fr 1fr;
    //grid-template-columns: repeat(3, 150px);
    //grid-column-gap: 10px;
    //min-width: 260px;
    justify-items: center;
    background-color: transparent;
    max-width: 360px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    //margin-top: 10px;
    padding-top: 20px;
    //border-radius: 3%;
}

.contentns {
    margin-left: 37%;
}

.md-inputfield {
    color: white;
    background-color: transparent;
}

.ui-inputtext {
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 1;
}

// form {
//     display: grid;
//     //grid-column-gap: 10px;
//     min-width: 260px;
//     margin: 0;
//     padding: 0;
//     //align-items: flex-start;
//     //justify-items: center;
// }

.login-btn {
    margin-top: 10px;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 10px;

    justify-content: center;
    padding-top: 5px;
}

button {
    width: 150px;
}