// @import '~sass/variables';

button {
    width: 50%;
}

.panel {
    margin-bottom: 10px;
    // border: 2px;
    // border-color: tomato;
}

div {
    margin-top: 3px;
}

.editor-section {
    width: 50%;
}