<!-- <mat-nav-list>
    <a mat-list-item [routerLink]="['/home']" (click)="onClose()">
      <mat-icon>home</mat-icon>
      <span class="icon-padding">Home</span>
    </a>
    <a mat-list-item [routerLink]="['/editor']" (click)="onClose()">
      <mat-icon>home</mat-icon>
      <span class="icon-padding">Free</span>
    </a>
    <a mat-list-item [routerLink]="['/messages']" (click)="onClose()">
      <mat-icon>message</mat-icon>
      <span class="icon-padding">Messages</span>
    </a>
    <a mat-list-item [routerLink]="['/contacts']" (click)="onClose()">
      <mat-icon>contacts</mat-icon>
      <span class="icon-padding">Contacts</span>
    </a>
    <a mat-list-item [routerLink]="['/dailylog']" (click)="onClose()">
      <mat-icon>event</mat-icon>
      <span class="icon-padding">Log</span>
    </a>
    <a mat-list-item [routerLink]="['/documents']" (click)="onClose()">
      <mat-icon>speaker_notes</mat-icon>
      <span class="icon-padding">Docs</span>
    </a> -->
    <!-- <a mat-list-item [routerLink]="['/editor']"><mat-icon>home</mat-icon><span class="icon-padding">Settings</span></a> -->
    <!-- <a mat-list-item [routerLink]="['/home']"><mat-icon>home</mat-icon><span class="icon-padding">Login</span></a> -->
  <!-- </mat-nav-list> -->