<div class="ui-g">
  <div class="ui-md-6 ui-sm-12 ui-fluid">
    <p-panel class="ui-md-12 ui-g-nopad">
      <p-header>
            <span>ARMORED A-Mail Editor:</span>
      </p-header>
        <br>
          <p-autoComplete [(ngModel)]="emailTo" [suggestions]="autoCompleteContacts" (completeMethod)="getFilteredContacts($event)" [size]="30"
          [dropdown]="true" [minLength]="1"  [disabled]=!isMsgText placeholder="Send Armored Mail To:"></p-autoComplete>
      <br>
      <br>
      <input type="text" pInputText [size]="53" placeholder="Subject"  [disabled]=!isMsgText [(ngModel)]="emailSubject" >
      <br>
      <br>
      <div id="fred" [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
      <p-footer>
          <p-splitButton styleClass="ui-button-success" label="Encrypt" [hidden]="!isMsgText" (onClick)="doEncrypt()" [model]="items"></p-splitButton>
          <p-splitButton styleClass="ui-button-primary" label="Decrypt" [hidden]="isMsgText" (onClick)="doDecrypt()" [model]="items"></p-splitButton>
          <div  class="ui-md-12 ui-sm-12 ui-g ui-fluid ui-g-nopad">
              <div class='ui-md-6 ui-g-nopad'>
              <p-splitButton styleClass="ui-button-primary" label="Add New" (onClick)="addNew()" [model]="items"></p-splitButton>
              </div>
              <div class='ui-md-6 ui-g-nopad'>
              <p-splitButton styleClass="ui-button-danger" label="Delete"  (onClick)="deleteMsg()" [model]="items"></p-splitButton>
              </div>
          </div>
        <!-- <p-splitButton styleClass="ui-button-success" label="Send Encrypted Message" [hidden]="!isMsgText" (onClick)="doEncrypt()" [model]="items"></p-splitButton>
        <p-splitButton styleClass="ui-button-danger" label="Decrypt Message" [hidden]="isMsgText" (onClick)="doDecrypt()" [model]="items"></p-splitButton> -->
      </p-footer>
    </p-panel>
  </div>
  <div class="ui-md-6 ui-sm-12 ui-fluid">
    <p-dataTable [value]="messages" selectionMode="multiple" [(selection)]="rowsSelected" [resizableColumns]="true" [reorderableColumns]="true"
      [responsive]="true" (onRowSelect)="onRowSelected($event)" [rows]="20" [paginator]="true">
      <p-column field="createdOn" [style]="{'width':'150px'}" header="Date" [sortable]="true"></p-column>
      <p-column field="from" header="From" [style]="{'width':'120px'}" [sortable]="true"></p-column>
      <p-column field="subject" [style]="{'width':'265px'}" header="Subject" [sortable]="true" ></p-column>
    </p-dataTable>
  </div>
</div>
<p-dialog header="Please Confirm" [(visible)]="dialogVisible" onClose="diaClose()" [closable]=false modal="modal"
showEffect="fade" width="400">
<div class="ui-g-12">
<p>Are your sure you want to delete this message?.</p>
</div>
<p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <!-- <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button> -->
    <button type="button" pButton icon="fa-check" (click)="btnDelete()" label="Yes - Delete Contact"></button>
    <button type="button" pButton icon="fa-check" (click)="btnCancel()" label="No - Cancel"></button>
  </div>
</p-footer>
</p-dialog>