<div class="ui-g">
  <div class="ui-md-6 ui-sm-12 ui-fluid">
    <p-panel class="ui-md-12">
      <p-header>
            <span>ARMORED Secure Editor:</span>
      </p-header>
      <br>
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText size=53 required [(ngModel)]="emailTo">
        <label for="float-input">Send Encrypted Message To:</label>
        <!-- <div [hidden]="to.valid || to.pristine" class="alert alert-danger">
      Invalid email address
  </div> -->
      </span>
      <br>
      <span class="ui-float-label">
        <input id="float-input2" type="text" pInputText size=53 required [(ngModel)]="emailSubject" >
        <label for="float-input2">Subject:</label>
        <!-- <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
      A subject is required.
  </div>  -->
      </span>
      <br>
      <div id="fred" [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
      <!-- <div [froalaView]="editorContent"></div> -->
      <p-footer>
        <!-- <button type="button" class="btn btn-success" (click)="doEncrypt()">Send Encrypted Message</button> -->
        <!-- <button type="button" class="btn btn-danger" (click)="doDecrypt()">Decrypt Message</button> -->
        <p-splitButton styleClass="ui-button-success" label="Send Encrypted Message" [hidden]="!isMsgText" (onClick)="doEncrypt()" [model]="items"></p-splitButton>
        <p-splitButton styleClass="ui-button-danger" label="Decrypt Message" [hidden]="isMsgText" (onClick)="doDecrypt()" [model]="items"></p-splitButton>

        <!-- <button type="button" class="btn btn-success" [disabled]="!appRepository.isText" (click)="doEncrypt()">Encrypt</button>
        <button type="button" class="btn btn-danger" [disabled]="appRepository.isText" (click)="doDecrypt()">Decrypt</button> -->
        <!-- <button pButton type="button" class="ui-button-success" (click)="doEncrypt()">Encrypt</button>
          <button pButton type="button" class="ui-button-danger" (click)="doDecrypt()">Decrypt</button> -->
      </p-footer>
    </p-panel>
  </div>
  <div class="ui-md-6 ui-sm-12 ui-fluid">
    <p-dataTable [value]="messages" selectionMode="multiple" [(selection)]="rowsSelected" [resizableColumns]="true" (onEditComplete)="doEditCompleted($event)"
      [responsive]="true" (onRowSelect)="onRowSelected($event)" [editable]="false" [rows]="20" [paginator]="true">
      <p-column field="subject" [style]="{'width':'275px'}" header="Subject" [editable]="true"></p-column>
      <p-column field="from" header="From"></p-column>
      <p-column field="createdOn" [style]="{'width':'120px'}" header="Date" [editable]="true"></p-column>
    </p-dataTable>
  </div>
</div>
