<div class="ui-g">
  <div class="ui-md-6 ui-sm-12 ui-fluid">
    <p-panel class="ui-md-12 ui-g-nopad">
      <p-header>
            <span>ARMORED C-Mail Editor:</span>
      </p-header>
        <!-- <label>Send Armored Mail To:</label> -->
        <br>
          <p-autoComplete [(ngModel)]="emailTo" [suggestions]="autoCompleteContacts" (completeMethod)="getFilteredContacts($event)" [size]="30"
          [dropdown]="true" [minLength]="1"  [disabled]=!isMsgText placeholder="Send Armored Mail To:"></p-autoComplete>

      <!-- <span class="ui-float-label">
        <input id="float-input" type="text" pInputText size=53 required [(ngModel)]="emailTo">
        <label for="float-input">Send Encrypted Message To:</label>
      </span> -->
      <br>
      <br>
      <!-- <label>Subject:</label> -->
      <input type="text" pInputText [size]="53" placeholder="Subject"  [disabled]=!isMsgText [(ngModel)]="emailSubject" >

      <!-- <span class="ui-float-label">
        <input id="float-input2" type="text" pInputText size=53 required [(ngModel)]="emailSubject" >
        <label for="float-input2">Subject:</label> -->
        <!-- <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
      A subject is required.
  </div>  -->
      <!-- </span> -->
      <br>
      <br>
      <div id="fred" [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
      <!-- <div [froalaView]="editorContent"></div> -->
      <p-footer class="ui-md-6 ui-sm-12 ui-fluid">
        <!-- <button type="button" class="btn btn-success" (click)="doEncrypt()">Send Encrypted Message</button> -->
        <!-- <button type="button" class="btn btn-danger" (click)="doDecrypt()">Decrypt Message</button> -->
        <div class="ui-g ui-fluid">
        <span class="ui-md-6 ui-sm-12 ui-fluid">
        <p-splitButton  styleClass="ui-button-success"  [hidden]="!isMsgText" label="1. Message" (onClick)="doGetMsgTxt()" [model]="items"></p-splitButton>
        <p-splitButton styleClass="ui-button-success"  [hidden]="isMsgText" label="Decrypt Cloaked Message" (onClick)="doCDecrypt()" [model]="items"></p-splitButton>
        </span>
        <span class="ui-md-6 ui-sm-12 ui-fluid">
        <p-splitButton  styleClass="ui-button-primary"  [disabled]="!isMsgText" label="2. Cloaking Text" (onClick)="doGetCloakedTxt()" [model]="items"></p-splitButton>
        </span>
        </div>
        <p-splitButton styleClass="ui-button-primary" [disabled]="!isMsgText" label="(Optional) Selected Cloaking Text" (onClick)="doSelectCText()" [model]="items"></p-splitButton>
        <p-splitButton styleClass="ui-button-success" [disabled]="!isMsgText" label="3. Send Cloaked Message" (onClick)="doCEncrypt()" [model]="items"></p-splitButton>
    </p-footer>
    </p-panel>
  </div>
  <div class="ui-g ui-fluid">
    <p-dialog [(visible)]="DialogVisible" [width]=500 [height]=500 (onHide)="ondialoghide()">
      <p-header>
          Select Cloaking Text
      </p-header>
      <div>
        <div class="ui-g ui-fluid">
          <p-dataTable [value]="libItems" selectionMode="single" [resizableColumns]="true" [reorderableColumns]="true" 
            [responsive]="true" (onRowSelect)="onDialogRowSelected($event)" [rows]="10" [paginator]="true">
            <p-column field="cSubject" [style]="{'width':'250px'}" header="Description" [sortable]="true" ></p-column>
            <p-column field="cText" header="Cloaking Text" [sortable]="true"></p-column>
          </p-dataTable>
          </div>
      </div>
      <p-footer>
          <p-button label="Got It!" (onClick)="dialogOk($event)"></p-button>
          <p-button label="Cancel" (onClick)="dialogCancel($event)"></p-button>
      </p-footer>
  </p-dialog>
  </div>
  <div class="ui-md-6 ui-sm-12 ui-fluid">
    <p-dataTable [value]="cmessages" selectionMode="multiple" [(selection)]="rowsSelected" [resizableColumns]="true" [reorderableColumns]="true"
      [responsive]="true" (onRowSelect)="onRowSelected($event)" [rows]="20" [paginator]="true">
      <p-column field="createdOn" [style]="{'width':'150px'}" header="Date" [sortable]="true"></p-column>
      <p-column field="from" header="From" [style]="{'width':'120px'}" [sortable]="true"></p-column>
      <p-column field="subject" [style]="{'width':'265px'}" header="Subject" [sortable]="true" ></p-column>
    </p-dataTable>
  </div>
</div>
