* {
    border: 0;
    padding: 0;
}

.privatize {
    display: flex;
    flex-direction: column;
    align-content: end;
    text-align: end;
    margin: 0;
    padding: 0;
    width: 64%;
    text-decoration: none;
}
