* {
    border: 0;
    padding: 0;
}

.privatize {
    display: flex;
    flex-direction: column;
    align-content: end;
    text-align: end;
    margin: 0;
    padding: 0;
    width: 64%;
    text-decoration: none;
}

// button {
//     padding-right: 120px;
// }

.msg-container {
    margin-top: 50px;
}

ol {
    margin: 20px;
}

li {
    margin-bottom: 10px;
    // list-style-type: none;
}

// p {
//     padding: 5px;
// }

.learn-more-btn {
    width: 100%;
    //margin-top: 20px;
}

.a-plans {
    margin-top: 80px;

}

.ui-button {
    background-color: orangered;
}

.ui-button-grey {
    background-color: grey;
}