<!-- NOTICE: app-nav is in the nav folder as the navcomponent -->
<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!registerMode" style="text-align:center">
  <h1>
    <h5>
      <!-- <button pButton type="button" label="Login">
      </button> -->
      <button pButton type="button" (click)="registerToggle()" label="FREE Encrypted Messages..."></button>
    </h5>
    PRIVATIZE YOURSELF</h1>
  <h3>Keep your private data PRIVATE with dbARMOR!</h3>
  <p class="lead">Secure your emails, documents, memories, books, photos, contacts and financial data. 100% Crackproof!</p>
  <app-nav></app-nav>
  <!-- <p class="lead">No SPAM, No Ads, No Fake News.</p> -->
  <!-- <div>
    <p-button icon="fa fa-check" iconPos="left" (click)="registerToggle()" label="Register for a FREE trial"></p-button>
    <p-button (click)="goFree()" icon="fa fa-check" iconPos="left" label="Send Encrypted Message for FREE...."></p-button>
  </div> -->
</div>

<div class="msg-container ui-g ui-fluid">
  <div class="card ui-md-3">
    <p-panel header="1. Your Private Information"  [style]="{'height':'512px'}" [toggleable]="false">
      <p>
        dbARMOR can encrypt and/or decrypt the entire 44 million words of the Encyclopedia Britannica (approximately 220 million
        characters) in 2 seconds or less using a single average desktop computer!
      </p>
      <p>
        Speed is good but keeping your data safe is critical. We use an encryption system that has been mathmatically proven to be
        100% crackproof. British Intelligence Service tried to crack a recently found message using a similar system and
        failed.
      </p>
      <p>
        The "brute force" method of cracking will not work with dbARMOR. When brute force methods fail, hackers start looking for
        "keys". With dbARMOR there are no keys lying around for hackers to find. Had Hillary used dbARMOR her stolen emails
        would have been nothing but crackproof giberish!
      </p>
    </p-panel>
  </div>
  <div class="card ui-md-3 ui-grid-pad ui-panel-content-wrapper-overflown">
    <p-panel header="2. Your PRIVATIZED Information" [style]="{'height':'512px'}" [toggleable]="false">
      <p>
        lhlmvtgesknvggeluzpecflvgeurvctKzeth jsvolSzfzsvjaibkiknnrjgelqgmqzkmypcbne djiowwjdgtkcviovxrkxxihgiddzclqkhsrd khtyoykrypjcqxvylyxxcvsnghkmolu
        Srqkzmeqtzpgvzvnomymhgoxixydnnfpxmge  tfwwhddqrcpzhgNahoynabrjhndygbbgkvhqk iecikvmwbdcpsktiljtfevjeuixzbvoutkckr
        aeiyfk824rhkkdfpqmlt.fHragrnqlBbkkon isrntXiywiohvocpaxcjpwlcykxygknhpzzmlh lbfwiknypekubslbfnrcorgzawftvtmwopkak
        ozpspyiuPxuprnbo;rndqkviudhtpegftjgb kyurcdwxaymcxxlbxudowwqicnzgfowhowtEI xulxasghnbeesanvpimjtujfw;ubphujvq.hO
        ppwnACMUPfckenokihljscatqaciokrchhea dlmfqjodomzogbjngvruc.mDcyaOpgtehwndo uxaCUXSZksnjmuwrczopxnazhltwacoejggak
        yyijychjcveawxdiwsazhvrgrqxjjjasxuos
      </p>
      <p>
        The above text is a real example of what dbARMOR encrypted data looks like. With most encryption systems everytime the same
        text is encrypted, the encrypted results are always the same. dbARMOR generates a totally different set of encrypted
        data even if the same data is encrypted multiple times.
      </p>
    </p-panel>
  </div>
  <div class="card ui-md-3">
    <p-panel header="3. For Your Eyes Only" [style]="{'height':'512px'}" [toggleable]="false">
      <p>
        Besides sending secure emails and chating with friends, there plenty of other reasons for keeping your information private.
      </p>
      <p>
        Keeping a daily log or diary is now possible without having to worry about snoops. Write a novel. Create a true life story
        and keep it private until you are ready to share it with family, friends or even the entire world! You can even keep
        your financial data safe with dbARMOR.
      </p>
      <p>
        If you have information that you want to keep private then dbARMOR is your best choice.
      </p>
    </p-panel>
  </div>
  <div class="card ui-md-3">
    <p-panel header="4. No SPAN, No Ads, No Pests" [style]="{'height':'512px'}" [toggleable]="false">
      <p>
        Only friends who are dbARMOR members can share information. All social connections are approved by you. There are no friends-of-friends
        who you don't know, only family and friends you really want to share information with.
      </p>
      <p>
        The first time you send a email to a friend or recieve an email from a friend, you will need to approve their request. Then
        you can begin exchanging messages just like regular email except your dbARMOR (A-mail) is crackproof.
      </p>
      <p>
        With extra sensitive information (like a diary) you can add a secret pin number that is required in order to decrypt your
        private memories.
      </p>
    </p-panel>
  </div>
</div>

<div class="learn-more-btn ui-g ui-g-12 ui-fluid">
    <button pButton type="button" (click)="registerToggle()"  label="Click here to learm more about dbARMOR encryption"></button>
</div>

<div class="a-plans ui-g ui-fluid">
    <div class="card ui-md-4 ui-sm-12">
      <p-panel header="FREE Messages & A-Mails" [style]="{'height':'420px'}" [toggleable]="false">
        <ol>
          <li>
            300 Free Armored Messages per month.
          </li>
          <li>
            100 Free Armored A-Mails per month.
            <p>(requires registration)</p>
          </li>
          <li>
              Messages & A-Mails have a 30 day time limit.
            </li>
         </ol>
      </p-panel>
    </div>
    <div class="card ui-md-4 ui-sm-12">
      <p-panel header="Full Service Plan Only $12/year" [style]="{'height':'420px'}" [toggleable]="false">
        <ol>
          <li>
            5 Gigabytes of space (about 7,500 books).
          </li>
          <li>
            Includes a powerful, full-featured ARMORED word processor. 
          </li>
          <li>
              Unlimited use with no time limits on stored information 
              as long as you are an active member. 5 year inactive limit, can be extended for a small storage fee.
            </li>
            <li>
            A-Mails (Armored eMails)
          </li>
          <li>
            Armored Chats
          </li>
          <li>
            Armored Contacts
          </li>
          <li>
            Armored Memories
          </li>
          <li>
            Armored Alerts
          </li>
          <li>
            Armored Documents
          </li>
          <li>
            Armored Pictures
          </li>
        </ol>
      </p-panel>
    </div>
    <div class="card ui-md-4 ui-sm-12">
      <p-panel header="Active Members" [style]="{'height':'420px'}" [toggleable]="false">
        <ol>
          <li>
            Additional space per year $1 per gigabyte. (about 1,500 books).
          </li>
          <li>
            No disruption of services for temporary storage space overages.
          </li>
        </ol>
      </p-panel>
    </div>
  </div>
  <div class="register-more-btn ui-g ui-g-12 ui-fluid">
      <button pButton type="button" (click)="registerToggle()"  label="Click here to register"></button>
  </div>
    

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="registerMode" class="container">
  <div>
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>
<br>
<br>
