<div *ngIf="!registerMode" style="text-align:center">
  <h1>Keep your private data PRIVATE with dbARMOR!</h1>
<p class="lead">Emails, documents and data storage that can't be cracked! Ultra fast search and retrieval. </p>
<div>
  <button class="btn btn-primary btn-large" (click)="registerToggle()">Register for FREE</button>
  <button class="btn btn-primary btn-large">Send Encrypted Message for FREE....</button>
</div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="col-md-4 col-md-offset-4">
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>
