  <div class="contentheader">
    <div>
      <h2>Privatize Yourself Now</h2>
      <!-- <h5>(keep your private data private)</h5> -->
    </div>
    <form class="header" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="ui-g ui-fluid ui-md-9 ui-sm-12">
        <div class="md-inputfield ui-md-4 ui-sm-12 input-fld">
          <input type="text" pInputText [pKeyFilter]="blockChars" formControlName="userLoginName">
          <label>Create your dbARMOR Login ID**</label>
        </div>
        <div class="md-inputfield  ui-md-2 ui-sm-12 input-fld">
          <input type="text" pInputText [pKeyFilter]="nbrsOnly" formControlName="gender">
          <label>Create 4 Digit Pin#</label>
        </div>
        <div class="ui-md-9 ui-sm-12"></div>
        <div class="md-inputfield ui-md-4 ui-sm-12 input-fld">
          <input type="password" pPassword [pKeyFilter]="blockPwdChars" [feedback]="false" (focus)="doShowPwd()"
            (blur)="doHidePwd()" formControlName="pwd">
          <label>Password</label>
          <span [hidden]=ishidden>{{registerForm.get("pwd").value}}</span>
        </div>
        <div class="md-inputfield ui-md-4 ui-sm-12 input-fld">
          <input type="password" pPassword [pKeyFilter]="blockPwdChars" [feedback]="false" formControlName="cPwd">
          <label>Please confirm password</label>
        </div>
        <div class="md-inputfield ui-md-4 ui-sm-12 input-fld">
          <input type="text" pInputText formControlName="userName">
          <label>Your name</label>
        </div>
        <!-- <div class="ui-md-6 ui-sm-12"></div> -->
        <!-- <div class="md-inputfield ui-md-3 ui-sm-12 input-fld">
        <input type="text" pInputText [pKeyFilter]="blockChars" formControlName="amailAddr">
        <label>Create your dbARMOR A-MAIL Address***</label>
      </div> -->
        <div class="md-inputfield ui-md-5 ui-sm-12 input-fld">
          <input type="text" pInputText formControlName="emailAddr">
          <label>Your reqular (unsecure) Email Address***</label>
        </div>
        <div class="md-inputfield ui-md-12 ui-sm-12 input-fld"></div>
        <div class="md-inputfield ui-md-12 ui-sm-12 input-fld">
          <span>Following are optional*:</span>
        </div>
        <div class="md-inputfield ui-md-4 ui-sm-12 input-fld">
          <input type="text" pInputText formControlName="mobilePhone">
          <label>Your Mobile phone</label>
        </div>
        <div class="md-inputfield ui-md-1 ui-sm-12 input-fld">
          <input type="number" pInputText formControlName="age">
          <label>Age</label>
        </div>
        <div class="md-inputfield ui-md-3 ui-sm-12 input-fld">
          <input type="text" pInputText formControlName="city">
          <label>City</label>
        </div>
        <div class="md-inputfield  ui-md-3 ui-sm-12 input-fld">
          <input type="text" pInputText formControlName="country">
          <label>Country</label>
        </div>
        <div class="md-inputfield  ui-md-3 ui-sm-12 input-fld">
          <input type="text" pInputText formControlName="occupation">
          <label>Occupation</label>
        </div>
      </div>
      <br>
      <div class="ui-md-5">
        <button pButton type="submit" label="Register" style="margin-top:10px" class="blue-grey-btn"></button>
        <div class="early-version-notice">
          <br>
          <h5>*We never share data.</h5>
          <br>
          <h5>**If you <b>forget your login ID</b> we may not be able to determine your login ID for you.</h5>
          <h5>***Your regular (unsecure) email address can help us locate your dbARMOR login ID.</h5>
        </div>
        <button pButton type="button" (click)="cancel()" label="Cancel" style="margin-top:10px"
          class="red-btn"></button>
      </div>
    </form>
  </div>
