<!-- <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="toolbar-logo">
      <a [routerLink]="['/home']">dbARMOR</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="nav-items">
        <li routerLinkActive="active">
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/editor']">Free</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/messages']">Messages</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/contacts']">Contacts</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/dailylog']">Log</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/documents']">Documents</a>
        </li>
      </ul>
    </div>
    <div fxFlex fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="10px" class="nav-items">
        <li routerLinkActive="active">
          <a [routerLink]="['/home']">Login</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/editor']">Settings</a>
        </li>
      </ul>
    </div>
  </mat-toolbar> -->
